.body {
  background-color: aliceblue;
}
ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-around;
}
.picking {
  font-size: x-large;
  padding-top: 25px;
}

.top-page {
  display: flex;
}

.profile {
  border-radius: 500px;
  max-width: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    auto
  ); /* Adjusted to auto-size the columns */
  grid-template-rows: repeat(6, auto);
  gap: 15px; /* Spacing between grid items */
  justify-content: center; /* Horizontally centers the grid */
  align-content: center; /* Vertically centers the grid */
  margin: 0 auto; /* Centers the grid-container within its parent */
}

.grid-item {
  width: 280px;
  height: 280px;
  text-align: center;
  border-radius: 5px;
  border: 5px solid grey;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(3, auto); /* Adjust for 3 columns */
    grid-template-rows: repeat(3, auto);
  }
}
