/*------------------------------- global --------------------------------*/

* {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  color: aliceblue;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  background-color: #0c0c0c;
}
ul {
  list-style-type: none;
}

/*------------------------------- nav bar ---------------------------------*/

.syrean {
  font-family: "Edu VIC WA NT Beginner";
}

.nav-bar {
  padding: 25px;
  display: flex;
  justify-content: space-around;
  background-color: #101720;
}

.picking {
  display: inline;
  font-size: x-large;
  text-decoration: none;
  padding: 20px;
}

.picking:hover {
  color: #4a97f0;
}

/*------------------------------- top page --------------------------------*/

.top-page {
  padding: 15%;
  display: flex;
  align-items: center;
  background-image: url(assets/bg-top.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.links {
  padding-right: 3%;
  padding-top: 2%;
}

.dl-cv {
  padding: 2%s;
}

.profile {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  max-width: fit-content;
}

.name {
  padding: 5%;
}
.name p {
  padding-top: 2%;
}
.bt-cv {
  align-items: center;
  appearance: button;
  background-color: #233347;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.bt-cv:active {
  background-color: #006ae8;
}

.bt-cv:hover {
  background-color: #1c84ff;
}
.bt-cv:hover {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.bt-cv:active {
  outline: 0;
}

.bt-cv:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

/*------------------------------- experience ---------------------------------*/

#experience {
  font-family: "Edu VIC WA NT Beginner";
  font-size: 50px;
  text-align: center;
  padding-top: 2%;
}

.experience {
  align-items: center;
  margin: 3%;
  padding: 2%;
  border: 2px solid #26364b;
  border-radius: 5px;
}
.artist {
  padding: 10%;
  border: 2px solid #26364b;
  border-radius: 5px;
  background-image: url(assets/artist.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.671);
  background-blend-mode: darken;
}

.encoder {
  margin-top: 2%;
  padding: 10%;
  border: 2px solid #26364b;
  border-radius: 5px;
  background-image: url(assets/encode.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.671);
  background-blend-mode: darken;
}

.experience b {
  padding-right: 1%;
}

.experience p {
  padding: 1%;
  text-align: justify !important;
  font-size: 24px;
}

.experience h3 {
  font-size: 32px;
}

/*------------------------------- skills --------------------------------*/

#skills {
  font-family: "Edu VIC WA NT Beginner";
  font-size: 50px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    auto
  ); /* Adjusted to auto-size the columns */
  grid-template-rows: repeat(6, auto);
  gap: 15px; /* Spacing between grid items */
  justify-content: center; /* Horizontally centers the grid */
  align-content: center; /* Vertically centers the grid */
  margin: 0 auto; /* Centers the grid-container within its parent */
}

.grid-item {
  width: 280px;
  height: 280px;
  text-align: center;
  border-radius: 5px;
  border: 5px solid #101720;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container {
  grid-template-columns: repeat(3, auto); /* Adjust for 3 per columns */
  grid-template-rows: repeat(3, auto);
}

/*------------------------------- about --------------------------------*/

#about {
  font-family: "Edu VIC WA NT Beginner";
  font-size: 50px;
  text-align: center;
}

/*------------------------------- contact --------------------------------*/

#contact {
  font-family: "Edu VIC WA NT Beginner";
  font-size: 50px;
  text-align: center;
}

/*------------------------------- media query --------------------------------*/

@media (max-width: 900px) {
  .top-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/bg-top.png);
  }

  .experience {
    padding: 1%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
  }

  .profile {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    max-width: fit-content;
  }
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(2, auto); /* Adjust for 2 per columns */
    grid-template-rows: repeat(2, auto);
  }
}

@media (max-width: 850px) {
  .picking {
    opacity: 0;
  }
}

@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: repeat(1, auto); /* Adjust for 1 per columns */
    grid-template-rows: repeat(1, auto);
  }
}
